*{  text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.container{
        height: 100%;
        background: linear-gradient(#39BBDC, #FF3192);
}
.nav{
    background-color: rgb(255, 255, 255);
    height: 100px;
}
.nav ul{
    float: right;
    margin-right: 20px;
}
.checkboton{
    float: right;
    line-height: 120px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.check{
    display: none;
}
.li{
  display: inline;
  line-height: 65px;
  font-size: 18px;
  color:  rgb(19, 39, 39);
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;

}
li:active, li:hover{
/* background-color: rgb(18, 0, 122); */
cursor: pointer;
transition: .5s;
color:  rgb(255, 0, 149);
background-color: #39BBDC;

}
.Title{
    font-size: 50px;
    font-style:oblique;
    color: rgb(53, 27, 83);
    font-family:'Times New Roman', Times, serif;
    display: inline-block;
    line-height: 10px;
}
.logo{
 float: left;
  width:100px;
  height:90px
}

.Aboutcontainer{
    font-size: 29px;
    height: auto;
}
.image1{
display: inline-block;

width: 450px;
height: 450px;
}
.spanabout{
    width: 50%;
    float: left;
    padding-bottom:39px ;
    padding-top: 100px;


}

.Footercontainer{
    background-color: rgb(31, 29, 29);

    width: 100%;
    color: white;
    bottom: 0px;
}
.footers{
    display: inline-block;
    width: 50%;
    height: 50%;

}

.logofooter{
  margin-left: 15px;
}

@media(max-width:1005px){
    .Title{
      font-size: 39px;
      line-height: 39px;
    }
    .spanabout{
        width: auto;
    }
    .menu{
        width: 70px;
        height: 70px;
    }
   
    .li{
        display: inline-block;
        margin: 5px 0;
        line-height: 40px;
        font-size: 15px;
    }
    .check:checked ~ ul{
        left: 0;
    }
  }
     
  @media(max-width:880px){
    .nav ul{
         position:relative;
        width: 100%;
        height: 100 vh;
        margin-right: 0px;
        margin-top: -27px;
        background-color: rgb(26, 4, 122);
        text-align: center;
        transition: all .5s;
        left: -100%;
    }
    .li{
        color: white;
    }
    .checkboton{
       display: block;
    }
    .spanabout{
        width: auto;
        margin-top: -100px;
    }
    .Title{
        font-size: 45px;
        margin-right: 5px;
    }
    .checkboton{
        margin-right: 5px;
    }
    .menu{
        margin-top: 7px;
        width: 55px;
        height:65px;
    }
     .image1{
    width: 330px;
    height: 330px;
   }
  }

 
   