.chat-render{
    margin: 10px;
    text-align:left;
    overflow: hidden;
}
.chat-render p{
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    background-color: blanchedalmond;
    
    
}