.chat-render {
  text-align: left;
  height: 80%;
  overflow: scroll;
  overflow-x: hidden;
  color: rgb(255, 255, 255);
  padding-top: 30px;
}
.chat-render p {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 5px;
  background-color: transparent;
}

.divMenssage {
  padding: 5px;
  margin-top: 0px;
  margin-right: 65%;
  margin-bottom: 0px;
  background-color: #385a64;
  border-radius: 0px 10px 10px 15px;
  margin-left: 2%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.495);
}
.divMenssage p {
  font-size: 80%;
  margin-left: 20px;
}
.divMenssage .span {
  margin-left: 20px;
  font-size: 80%;
}

.divMenssageMe p {
  font-size: 80%;
  padding: 5%;
  margin-right: 20px;
}
.divMenssageMe {
  overflow: auto;
  margin-left: 65%;
  text-align: right;
  margin-bottom: 15px;
  background-color: #ff4f5a;
  border-radius: 10px 0px 15px 10px;

  margin-right: 2%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.495);
}
.divMensMe img {
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.imgMe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 20;
  cursor: pointer;
  min-width: 40vw;
  object-fit: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.name {
  color: rgb(255, 255, 255);
}
.divMens {
  margin-right: 60%;
  margin-bottom: 15px;
  border-radius: 0px 10px 10px 15px;
  margin-left: 5%;
}
.divMens img {
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.imgOther {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 20;
  cursor: pointer;
  min-width: 40vw;
  border-radius: 10px;
  object-fit: cover;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.divMens .span {
  font-size: 60%;
  margin-left: 0px;
}


.divMensMe {
  margin-left: 70%;
  text-align: right;
  margin-bottom: 15px;
  border-radius: 10px 0px 15px 10px;

}

.chat-render::-webkit-scrollbar {
  width: 10px;
}

.chat-render::-webkit-scrollbar-thumb {
  background: #ff4f5ba2;
  border-radius: 10px;
}

.divMensMeAudio {
  margin-left: 40%;
  text-align: right;
  margin-bottom: 15px;
  border-radius: 10px 0px 15px 10px;

}
@media screen and (max-width: 600px) {
  .divMensMe audio{
    width: 100px;
  }
  .divMens audio{
    width: 100px;
  }
  .divMenssageMe{
    margin-left: 35%;
  }
  .divMenssage{
    margin-right: 35%;
  }
}
@media screen and (max-width: 800px) {
  .divMensMe audio{
    height: 40px;
   width: 100px;
  }
  .divMens audio{
  
   height: 40px;
   width: 100px;
  }
  .divMenssageMe{
    margin-left: 50%;
  }
  .divMenssage{
    margin-right: 50%;
  }
  
}
@media screen and (max-width: 1400px) {

  .divMenssageMe{
    margin-left: 50%;
  }
  .divMenssage{
    margin-right: 50%;
  }
  .divMens audio{
    margin-left: 50%;
   
   }
   .divMensMe audio{
    margin-left: -65%;
   
  }
}
@media screen and (max-width: 1920px) and (min-width : 1401px) {



   .divMensMe audio{
    margin-left: -18%;
   
  }
}

.divMensMe audio{
  height: 40px;
 width: 80%;

}
.divMens audio{

 height: 40px;
 width: 80%;
}