.chat {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
  /* background: linear-gradient(to right,#C33764,#1D2671); */
  background-image: url("../../assets/fondo1.png")
}

.chat img {
  max-width: 80%;
  max-height: 80%;
}
