.chat {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
  /* background: linear-gradient(to right,#C33764,#1D2671); */

}

.chat img {
  max-width: 80%;
  max-height: 80%;
}

@media screen and (max-width: 1400px) {
  .chat {
    width: 60%;
  }
}

@media screen and (max-width: 850px) {
  .chat {
    width: 55%;
    margin-left: 2%;
  }
}

@media screen and (max-width: 600px) {
  .chat {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90%;
  }
}