.container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    color: rgb(255, 255, 255);
    position: relative;
}

.data {
    background: linear-gradient(90deg, #1d257179, #ff4f5b75);
    width: 120vh;
    height: 75vh;
    border-radius: 20px;
    margin-left: 2%;
    margin-right: 2%;
}

.divTalkap {
    display: flex;
    height: 50%;
    align-items: center;
}

.talkapText {
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-left: 3%;
}

.talkap {
    color: rgb(253, 253, 253);
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 550;
}

.infoTalkap {
    color: white;
    margin-top: 2%;
    font-family: cursive;
}

.divImg1 {
    width: 50%;
    text-align: center;
    object-fit: fill;
}

.img1 {
    height: 200px;
}



.divDonacion {
    display: flex;
    align-items: center;
    height: 50%;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 550;
}

.donationText {
    color: white;
    margin-top: 2%;
    font-family: cursive;
}

.donacionLeft {
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-left: 3%;
}

.donationButton {
    color: white;
    background-color: #ff4f5a;

    width: 150px;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    padding: 10px 0;
    margin-top: 30px;
    border-radius: 5px;
    font-family: cursive;
    transition: 0.3s;
    margin-bottom: 10px;
}

.donationButton:hover {
    transform: scale(1.05);

    color: white;
    background-color: #fa3341;
}

.divImg2 {
    width: 50%;
    text-align: center;
}

.img2 {
    margin-left: 7%;
    height: 250px;
}


.container::-webkit-scrollbar {
    width: 10px;
}

.container::-webkit-scrollbar-thumb {
    background: #ff4f5b00;
    border-radius: 10px;
}


@media screen and (max-width: 1000px) {
    .img1 {
        height: 150px;
    }

    .img2 {
        height: 200px;
    }

    .talkap {
        font-size: 40px;
    }

    .infoTalkap {
        font-size: 15px;
    }

    .title {
        font-size: 30px;
    }

    .donationText {
        font-size: 15px;
    }
}

@media screen and (max-width: 850px) {
    .data {
        height: 95%;
    }
}

@media screen and (max-width: 700px) {
    .img1 {
        height: 120px;
    }
    .img2 {
        height: 170px;
    }

    .talkap {
        font-size: 30px;
    }

    .infoTalkap {
        font-size: 15px;
    }

    .title {
        font-size: 25px;
    }

    .donationText {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    .img1 {
        height: 100px;
    }
    .img2 {
        height: 140px;
    }

    .talkap {
        font-size: 40px;
    }

    .infoTalkap {
        font-size: 17px;
    }

    .title {
        font-size: 30px;
    }

    .donationText {
        font-size: 17px;
    }
}