.user-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-bottom: 6px;
    font-size: 12px;
    color: rgb(255, 255, 255);


}

.user-card .connec{
    width: 70px;
    height: 70px;   
    margin-bottom: 2px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 2px rgba(6, 255, 27, 0.898); 
}
.user-card .disconnec{
    width: 70px;
    height: 70px;   
    margin-bottom: 2px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 2px rgb(255, 5, 5); 
}
.user-card img:hover{
    cursor: pointer;
}

.banned img{
    opacity: 50%;
   
}
.banned p{
    opacity: 70%;
    color:rgb(255, 255, 255);  
}

.banned{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.unbann{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}