.user-card{
    display: flex;
    flex-direction: column;
    align-items: center;
background-color: transparent;
margin: 5px;
font-size: 10px;
color: rgb(12, 12, 12);


}
.user-card .img{
    width: 70px;
   height: 70px;   
    border-radius: 50px;
    box-shadow: 5px 5px 20px; 
}
.user-card .img:hover{
    transform: scale(0.95);   
    transition:all ease 0.7s
}
