.user-card{
background-color: transparent;
margin: 5px;
font-size: 10px;
height: 150px;
width: 150px;
color: rgb(12, 12, 12);
display:block;

}
.user-card .img{
    width: 70px;
   height: 70px;   
    border-radius: 50px;
}
.user-card .img:hover{
    transform: scale(0.95);   
    transition:all ease 0.7s
}
