.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  overflow: scroll;
}
.bienvenida {
  margin: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #030303;
}

.cosoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.totaluser {
  width: 300px;
  background-color: rgb(75, 192, 192);
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.totalchats {
  width: 300px;
  background-color: rgb(71, 180, 71);
  color: white;
  border-radius: 10px;
  padding: 5px;
}

@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&display=swap");
.buttonExit {
  margin: 10px;
  width: 100px;
  font-family: "Chivo Mono", monospace;
  font-style: italic;
  background-color: rgb(255, 48, 48);
  border-radius: 6px;
  color: rgb(255, 255, 255);
  justify-content: center;
  user-select: none;
  cursor: pointer;
  text-align: center;
}

.buttonExit:hover {
  transition: all ease 0.5s;
  /* background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0); */
  transform: scale(0.95);
}

.buttonExit:active {
  transform: scale(0.9);
  /* cuando se hace click, se achica el tamaño*/
  /* Scaling button to 0.98 to its original size */
}

.line {
  margin: 10px;
  width: 700px;
  /* height: 700px; */
}
.pie {
  margin: 10px;
  width: 300px;
  height: 300px;
}
.buttonBan {
  margin: 10px;
  width: 200px;
  font-family: "Chivo Mono", monospace;
  font-style: italic;
  background-color: rgb(0, 0, 0);
  border-radius: 6px;
  color: rgb(255, 255, 255);
  justify-content: center;
  user-select: none;
  cursor: pointer;
  text-align: center;
}
.buttonBan:hover {
  transition: all ease 0.5s;
  /* background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0); */
  transform: scale(0.95);
}
.buttonBan:active {
  transform: scale(0.9);
  /* cuando se hace click, se achica el tamaño*/
  /* Scaling button to 0.98 to its original size */
}
