.buttonExit {
    margin: 10px;
    width: 100px;
    font-family: "Chivo Mono", monospace;
    font-style: italic;
    background-color: rgb(0, 0, 0);
    border-radius: 6px;
    color: rgb(255, 255, 255);
    justify-content: center;
    user-select: none;
    cursor: pointer;
    text-align: center;
  }
  
  .buttonExit:hover {
    transition: all ease 0.5s;
    /* background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0); */
    transform: scale(0.95);
  }
  
  .buttonExit:active {
    transform: scale(0.9);
    /* cuando se hace click, se achica el tamaño*/
    /* Scaling button to 0.98 to its original size */
  }
  .modal thead  {
    
      background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
      border: 1px solid rgb(8, 8, 8);
    
  }
  .modal tbody, tr,td{
    border: 1px solid rgb(8, 8, 8);
  }
.modal input {
  margin: 5px;
  border: 1px solid rgb(8, 8, 8);
  outline: none;
}
.baned{
  background-color: rgb(255, 48, 48);
}
.unbaned{
  background-color: rgb(38, 165, 38);
}
.modal th{
  padding: 5px;
  }
  .title{
    font-style: oblique;
    background-color: rgba(255, 0, 0, 0.527);
  }