.container {
    width: 19%;
    height: 100vh;
    background-color: #2322239c;
}

@media screen and (max-width: 1400px) {
    .container {
        width: 20%;
    }
}

@media screen and (max-width: 850px) {
    .container {
        width: 25%;
    }
}

.rightHead {
    position: absolute;
    top: -700px;
    left: -2000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.rightHead.active {
    z-index: 1;
    background-color: #2b2a2b;
    width: 100%;
    height: 90%;
    display: block;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 10%;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 20px;
}


@media screen and (max-width: 1400px) {
    .container {
        width: 20%;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 20%;
    }
}

@media screen and (min-width: 850px) {
    .buttonRight {
        display: none;
    }
}

@media screen and (min-width: 850px) {
    .rightHead {
        position: initial;
        margin: 0;
    }
}

@media screen and (max-width: 850px) {
    .container {
        position: absolute;
        top: 1.1%;
        right: 2%;
        width: 10%;
        height: 10%;
        background-color: transparent;
        margin-left: 0;
        margin-right: 2%;
        margin-top: 2%;
    }
    .buttonRight {
        margin-left: 60%;
    }
}

@media screen and (max-width: 600px) {
    .container {
        top: 1.1%;
    }
    .buttonRight{
        margin-left: 1%;
    }
}