.userListContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  /* height: 450px; */
  height: 70%;
  overflow: scroll;
  overflow-x: hidden;
}

.userListContainer::-webkit-scrollbar {
  margin-left: 3px;
  width: 10px;
}

.userListContainer::-webkit-scrollbar-thumb {
  background: #ff4f5ba2;
  border-radius: 10px;
}
