
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');
 
.blacklist{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    background-color: rgb(13, 13, 14);
    color: white;
    
    
}
.blacklist img {
    width: 300px;
    margin: 50px;
}

.title{
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    margin: 50px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
.subtitle{
    font-family: 'Roboto Mono', monospace;
}