.aboutUsContainer {
  min-height: 100vh;
  background: #1d2671;
  background: linear-gradient(to right, #1d2671, #ff4e5b);
  color: rgb(205, 205, 216);
  overflow: hidden;
  user-select: none;
}

.aboutUsContainer span {
  position: fixed;
  font-size: 40px;
  top: 20px;
  left: 20px;
  z-index: 20;
  color: rgba(240, 248, 255, 0.308);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.aboutUsContainer span:hover {
  color: rgb(205, 205, 216);
  font-size: 60px;
}
.aboutUsContainer h3 {
  font-family: cursive;
  font-size: 30px;
}
.aboutUsContainer p {
  font-family: cursive;
  font-size: 20px;
}

.info {
  text-align: center;
  padding: 10px 30px;
}

.cardsContainer {
  padding: 10px 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  place-items: center;
}

.dualCard {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dualCard p {
  text-align: center;
  width: 143px;
  font-size: 14px;
  position: absolute;
  transform: rotate(90deg);
  margin-left: 218px;
  background-color: #1add00;
  color: #000;
}

@media screen and (max-width: 790px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 525px) {
  .cardsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
