.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #020220bb;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #1877f2;
    border-left: 1px solid #1877f2;
    width: max-content;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  }
  
  .card h3 {
    font-size: 20px;
  }
  
  .card img {
    width: 200px;
    height: 200px;
    background-color: transparent;
    border-radius: 50%;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: -3px 3px 5px 0px rgba(255, 255, 255, 0.75);
    filter: brightness(0.5);
    -webkit-filter: saturate(1.5);
  }
  
  .logoHenry {
    position: absolute !important;
    width: 40px !important;
    height: 40px !important;
    margin-left: 180px !important;
    margin-bottom: 240px !important;
    box-shadow: none !important;
    cursor: grab;
  }
  .nameAndLinksContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .linksContainer {
    display: flex;
    font-size: 30px;
    gap: 10px;
  }
  
  .facebook {
    color: #1877f2;
  }
  .linkedin {
    color: #0e76a8;
  }
  .gitHub {
    color: #ffffff;
  }