.card {
    width: 100%;
    max-width: 290px;
    height: 70px;
    background: #353535;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    backdrop-filter: blur(10px);
    transition: 0.5s ease-in-out;
    box-shadow: 0px 3px 30px 1px #00000090;
    
  }
  
  .card:hover {
    cursor: pointer;
    
  }
  
  .img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
    background: linear-gradient(#d7cfcf, #9198e5);
  }
  .imag-picture{
    width: 50px;
    height:50px;
  }
  
  
  .textBox {
    width: calc(100% - 90px);
    margin-left: 10px;
    color: white;
    font-family: 'Poppins' sans-serif;
  }
  
  .textContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .span {
    font-size: 10px;
  }
  
  .h1 {
    font-size: 16px;
    font-weight: bold;
  }
  
  .p {
    font-size: 12px;
    font-weight: lighter;
  }