.card {
  width: 100%; 
  height: 85px;
  background: #535353;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
   backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
  box-shadow: 0px 0px 10px 1px #1d1d1d79;
  margin-bottom: 2px;
}

.card:hover {
  cursor: pointer;
  
}
img{
  border-radius: 10px;
}
.punto{
  
  position: absolute;
  font-size: 40px;

}
 
.puntoA{
 
  position: absolute;
  left: 92%;
  bottom: 40%;
  color: rgb(57, 254, 83);
  font-size: 40px;
}
.imgA {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
 box-shadow:0px 0px 8px 5px rgb(57, 254, 83)

}
.img {

  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  box-shadow:0px 0px 8px 5px rgb(254, 57, 57); 
  
}
.imgG {

  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
   
  
}
.textG{
 
  width: calc(100% - 90px);
  margin-left: 10px;
  color:#ff4f5a;
  margin-bottom: 2vh;
  
  font-family: 'Poppins' sans-serif;
}
.imag-picture{
  width: 50px;
  height:50px;
}


.textBoxA {
 
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  margin-bottom: 2vh;
  
  font-family: 'Poppins' sans-serif;
}
 
.textBox {
 
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  margin-bottom: 2vh;
  font-family: 'Poppins' sans-serif;
}

.textContent {
  display: flex;

  justify-content: space-between;
  margin-bottom: 1;
}

.span {
  display: flex;
  font-size: 11px;
  color: rgb(255, 255, 255);
  margin-left: 5px;
}

.h1 {
  font-size: 10px;
  font-weight: bold;
 
}

.p {
  font-size: 12px;
  font-weight: lighter;
  display: flex;
  margin-left: 2vw;
}

.remove{
  width: 10px;
  height: 10px;
  position: relative;
  left: 95%;
}

.span2 {
  display: flex;
  font-size: 11px;
  color: rgb(255, 255, 255);
  margin-left: 5px;
 
}