.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/fondo1.png")
 
}
.chat {
  width: 100%;
  height: 100%;
  display: flex;
}
.home {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  overflow: hidden; /*Cuidado con esto che, esto no es joada*/
}
