.user-list{ 
  display: flex;
  align-items: center;
  overflow-y: scroll;
  flex-direction: column;
  text-align: center; 
  width: 20%;
  height: 100vh;
  background-color: rgb(152, 112, 237);
  box-shadow: 5px 5px 40px; 
}
.user-list .p {
  height: 50px;
}