.userList {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  /* overflow: scroll;
  overflow-x: hidden; */
}
.user-list::-webkit-scrollbar {
  width: 10px;
}

.user-list::-webkit-scrollbar-thumb {
  background: #ff4f5ba2;
  border-radius: 10px;
}