@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&display=swap');
.button{
    font-family: 'Chivo Mono', monospace;
     font-style: italic;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    color:black;
    justify-content: center;
    user-select: none;
    cursor:pointer;
    text-align: center;
    width: 100px;
}

.button:hover{
    transition:all ease 0.5s;
    background-color: black;
    color: rgb(255, 255, 255);
    transform: scale(0.95);
   
}

.button:active {
    transform: scale(0.90);
    /* cuando se hace click, se achica el tamaño*/
    /* Scaling button to 0.98 to its original size */

}
.button .texto{
    cursor:pointer;
    padding: 5px;
}

 
