.body { 
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    animation: moverLogo 2s ease-in;
}

.nav {
    position: fixed;
    top: 20px;
    left: 20px;
}

.nav .links {
    color: white;
    text-decoration: none;
    display: inline-block;
    animation: moverIzquierda 1.5s ease-in;
    padding-right: 50px;
    font-weight: 500;
}

.enlaces {
    cursor: pointer;
}

.header {
    background: #C33764;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    /* height: auto; */
    padding: 50px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.container {
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.img {
    display: block;
    height: 450px;
    object-fit: cover;
    width: auto;
    animation: moverImagen 1s ease-in;
}

.texto {
    width: 50%;
    color: white;
}

.texto h1 {
    font-size: 80px;
    animation: moverTitulo 1s ease-in;
}

.texto h2 {
    font-size: 30px;
    animation: moverTitulo 1s ease-in;
}

.texto .links {
    display: inline-block;
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid white;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    animation: moverEnlace 2s ease-in;
}


@keyframes moverIzquierda {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverTitulo {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverEnlace {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverImagen {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverLogo {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
