.nav{
   width: 10%;
   background-color: rgb(71, 22, 76);
   box-shadow: 5px 5px 40px; 
}
.nav button{
   width:100%;
  padding:8px 16px;
  margin-top:32px;
  border:1px solid #000;
  border-radius:5px;
  display:block;
  color:#fff;
  background-color:#000;
}
.nav button:hover{
   transition:all ease 0.5s;
   transform: scale(0.95);
}
.nav button:active {
   transform: scale(0.90);
   /* cuando se hace click, se achica el tamaño*/
   /* Scaling button to 0.98 to its original size */
transform: scale(0.95);
}
