.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #151b1d00;
  height: 73px;
  margin: 10px;
}
.nameFile {
  color: #ff4f5a;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.labelFile {
  color: aliceblue;
  font-size: 30px;
  cursor: pointer;
}

.fileInput {
  display: none;
}

.inputMessage {
  padding: 0 7px;
  width: 50%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  margin-left: 10px;
  color: #fff;
  background-color: #385a64a2;
}

.buttonSubmit {
  
  padding: 5px;
  color: #fff;
  background-color: rgba(78, 78, 105, 0.445);
  font-size: 30px;
  border-radius: 15px;
  margin-left: 5px;
 
}

.buttonSubmit:hover {
  background-color: #ff4f5a;
}
