.InputActive{
    width:180px;
	padding:3px 10px;
	border:1px solid #838282;
	border-radius:3px;
	background-color:#ffffff;
	margin:8px 0;
	display:inline-block;
    cursor: pointer;
}


.InputOff{
    width:180px;
	padding:3px 10px;
	border:1px solid #ff0000;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
    cursor: pointer;
}
