.chat {
    
    display: flex;
    align-items: center;
    justify-content: center;
   
   background-color:transparent;
   
  

  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 40%;
}
<<<<<<< HEAD

.chat input[type="text"] {
  width: 180px;
  padding: 3px 10px;
  border: 1px solid #838282;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
  cursor: pointer;
}
.chat button {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #000;
=======
/* .chat input[type='text']{
    width:180px;
	padding:3px 10px;
	border:1px solid #838282;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
    cursor: pointer;
} */
.chat button{
    width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
>>>>>>> 41bec062d844f06f327cff2c2149e345d62ac556
}
.chat button:hover {
  transition: all ease 0.5s;
  transform: scale(0.95);
}
.chat button:active {
  transform: scale(0.9);
  /* cuando se hace click, se achica el tamaño*/
/* Scaling button to 0.98 to its original size */
/* transform: scale(0.95);*/
}

.formContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}
.formContainer input {
  max-width: 300px;
  padding: 10px;
  outline: none;
}

.formContainer button {
  width: 100px;
  background-color: rgb(152, 112, 237);
  color: #fff;
  font-size: 20px;
}

