.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #151b1d00;
  height: 73px;
  margin: 10px;
}
.nameFile {
  color: #ff4f5a;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.labelFile {
  color: aliceblue;
  font-size: 30px;
  cursor: pointer;
}

.fileInput {
  display: none;
}

.inputMessage {
  padding: 0 7px;
  width: 50%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  margin-left: 10px;
  color: #fff;
  background-color: #385a64a2;
  margin-right: 5px;
}

.buttonSubmit {
  
  padding: 5px;
  color: #fff;
  background-color: rgba(78, 78, 105, 0.445);
  font-size: 30px;
  border-radius: 15px;
  margin-left: 5px;
 
}

.buttonSubmit:hover {
  background-color: #ff4f5a;
}


.span{
 padding-top: 5px;
  width: 50%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  margin-left: 10px;
  color: #fff;
  background-color: #ff4f5bd2;
}
.span:hover{
  cursor: pointer;
  background-color: #ff4f5b9f;
}


.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #ff4f5a;
  font-size: 12px;
  border: 1px solid #ff4f5a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.audio button {

 color:red;
 font-weight: 800;
}
.audio button:hover {
  transform: scale(1.05);
  color:red;
  font-weight: 900;
 }


 @media screen and (max-width: 1000px) {
  .container {
   
    
    height: 73px; 
    margin: 10px;
    margin-bottom: 70px;
    
  }
}