.chat-card{
    background-color: transparent;
    margin: 5px;
    font-size: 10px;
    height: 150px;
    width: 150px;
    color: rgb(12, 12, 12);
    display:block;
    
    }
    .chat-card .img{
        width: 70px;
       height: 70px;   
        border-radius: 50px;
        box-shadow: 5px 5px 20px; 
    }