.chatcard {
    /* display: inline; */
    display: flex;
    font-size: 10px;
    height: 10vh;
    width: 100%;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 7px 0.5px white;
}

/* .container {
} */

.container {
    margin-top: 2vh;
    text-align: center;
    justify-content: center;
}

.container img {
    position: fixed;
    margin-left: 25%;
    width: 6vh;
    border-radius: 100%;
}

.chatcard p {
    margin-top: 5px;
    position: fixed;
    margin-left: 30%;
    font-size: 3vh;
}

.home {
    position: fixed;
    margin-left: 3%;
    cursor: pointer;
}