.chatcard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    font-size: 10px;
    height: 15%;
    width: 100%;
    color: rgb(12, 12, 12);
    
    }
    .chatcard img{
        margin-bottom: 5px;
        width: 70px;
       height: 70px;   
        border-radius: 50px;
        box-shadow: 5px 5px 20px; 
    }